<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949122107865-eiir06frho5ipovhsas255c4svtt285m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949122107865-eiir06frho5ipovhsas255c4svtt285m</string>
	<key>API_KEY</key>
	<string>AIzaSyAcX6498vBQUVhdMhfuAGdw4YXE3yltzps</string>
	<key>GCM_SENDER_ID</key>
	<string>949122107865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seviien.mymedicaljournal</string>
	<key>PROJECT_ID</key>
	<string>my-medical-journal-seviien</string>
	<key>STORAGE_BUCKET</key>
	<string>my-medical-journal-seviien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949122107865:ios:91288b0edf0d903b5ef1c8</string>
	<key>DATABASE_URL</key>
	<string>https://my-medical-journal-seviien.firebaseio.com</string>
</dict>
</plist>